<h2>Child Profile!</h2>

<%= image_tag('avatarEx.png') %>
<br/>
<br/>
 
<h3> Main progress </h3>
<div class="majorProgBar">
		<div class="innerBar"></div>
</div>
 <br/>
 
<div id="diet_spot">
	<h3>Diet!</h3>
	</br>
		 
	 <h4>Water:</h4>
	<div class="minorProgBar">
		<div class="innerBar"></div>
	</div>
	
	 <h4>Veggies:</h4>
	<div class="minorProgBar">
		<div class="innerBar"></div>
	</div>
	 
	 <h4>Carbs:</h4>
	<div class="minorProgBar">
		<div class="innerBar" ></div>
	</div>
	<%= button_to "+Carbs", :method => 'incrementCarbs' %>
	 
	 <h4>Protein:</h4>
	<div class="minorProgBar">
		<div class="innerBar"></div>
	</div>
	 
	 <h4>Fruits:</h4>
	<div class="minorProgBar">
		<div class="innerBar"></div>
	</div>
	 
	 <h4>Dairy:</h4>
	<div class="minorProgBar">
		<div class="innerBar"></div>
	</div>
	 
	 <h4>Sweets:</h4>
	<div class="minorProgBar">
		<div class="innerBar"></div>
	</div>
	 
</div>

<div id="exercise_spot">
	<h3>Excersize!</h3>
	<br/>
	
	 <h4>Upper </h4>
	<div class="minorProgBar">
			<div class="innerBar"></div>
	</div>
	 
	 <h4>Lower</h4>
	<div class="minorProgBar">
			<div class="innerBar"></div>
	</div>
	 
	 <h4>Endurance</h4>
	<div class="minorProgBar">
			<div class="innerBar"></div>
	</div>
	 
	 <h4>Aerobic</h4>
	<div class="minorProgBar">
			<div class="innerBar"></div>
	</div>
	 
</div>
	 
