
<div id="home_image">
	<div id="home_overlay">
		<h1> Welcome to FitKids! </h1><br/>
			<% if user_signed_in? %>
				<div>
				<h2>You're signed as a <%= current_user.type %>. 
				<%= link_to('Logout.', destroy_user_session_path, :method => :delete) %> </h2>
				</div>
			<% else %>
				<div>
				<h2><%= link_to('Login', new_user_session_path)  %></h2>  
				</div>
			<% end %>

	</div>
</div>
