// Place all the styles related to the Leaderboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr .list_line_even{
	background-color:#e0f8f8;
}

tr .list_line_odd{
	background-color:#f8b0f8;
}

th {
	background-color:#00ff44;
	height:10px;
	width:40px;
	a{	
		font-family: 'Lobster', cursive;
		text-decoration:none;
	}
}

td {
	background-color:#330044;
	height:10px;
	width:40px;
	border:2px solid;
}